In [94]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
import seaborn as sns
# %matplotlib inline

# 1) Load data and Overview

In [95]:
df = pd.read_csv('../data/book100k-200k.csv')

In [96]:
df.describe()

,pagesNumber,Rating,CountsOfReview,PublishDay,PublishMonth,Id,PublishYear
count,5.704600e+04,57046.000000,57046.000000,57046.000000,57046.000000,57046.000000,57046.000000
mean,3.244922e+02,3.542262,37.355345,6.310434,10.008432,149349.653736,1998.998177
std,9.482250e+03,1.189968,370.091928,3.608969,10.401136,28933.167578,8.689114
min,0.000000e+00,0.000000,0.000000,1.000000,1.000000,100000.000000,1623.000000
25%,1.600000e+02,3.540000,0.000000,3.000000,1.000000,124114.250000,1996.000000
50%,2.510000e+02,3.890000,2.000000,6.000000,5.000000,149387.500000,2001.000000
75%,3.520000e+02,4.120000,12.000000,9.000000,18.000000,174562.750000,2005.000000
max,2.254246e+06,5.000000,52088.000000,12.000000,31.000000,199999.000000,2020.000000

In [97]:
df.head()

,pagesNumber,Authors,Publisher,Rating,Language,RatingDistTotal,RatingDist5,RatingDist3,CountsOfReview,PublishDay,ISBN,RatingDist4,PublishMonth,Id,PublishYear,RatingDist1,RatingDist2,Name
0,400,Royce Flippin,PublicAffairs,4.18,NaN,total:11,5:3,3:1,1,9,1560256133,4:7,20,100000,2004,1:0,2:0,The Best American Political Writing 2004: Spec...
1,30,Gail Sakurai,Turtleback Books,4.00,NaN,total:6,5:2,3:2,0,9,061390737X,4:2,1,100004,1996,1:0,2:0,Stephen Hawking: Understanding the Universe
2,16,Sandi Hill,Creative Teaching Press,3.60,NaN,total:5,5:0,3:2,2,3,1574713388,4:3,1,100007,1998,1:0,2:0,Detective Dog and the Search for Cat
3,280,Bob Butz,Lyons Press,3.21,NaN,total:29,5:3,3:12,6,1,1592284469,4:8,1,100010,2005,1:2,2:4,"Beast of Never, Cat of God: The Search for the..."
4,193,Raymond B. Marcin,Catholic University of America Press,3.43,NaN,total:7,5:0,3:2,0,2,0813214300,4:4,3,100011,2006,1:0,2:1,In Search of Schopenhauer's Cat: Arthur Schope...

In [98]:
df.dtypes

pagesNumber          int64
Authors             object
Publisher           object
Rating             float64
Language            object
RatingDistTotal     object
RatingDist5         object
RatingDist3         object
CountsOfReview       int64
PublishDay           int64
ISBN                object
RatingDist4         object
PublishMonth         int64
Id                   int64
PublishYear          int64
RatingDist1         object
RatingDist2         object
Name                object
dtype: object

# 2) Check for duplicated rows

In [99]:
df.duplicated(keep=False).sum()

0

# 3) Check & Address NaN

In [100]:
df.isna().sum()

pagesNumber            0
Authors                0
Publisher            585
Rating                 0
Language           42892
RatingDistTotal        0
RatingDist5            0
RatingDist3            0
CountsOfReview         0
PublishDay             0
ISBN                 256
RatingDist4            0
PublishMonth           0
Id                     0
PublishYear            0
RatingDist1            0
RatingDist2            0
Name                   0
dtype: int64

## Publisher:

- If publisher is NaN, it's usually classics or religious (e.g. the Bible, or Plato's Republic)

In [101]:
df[df['Publisher'].isna()]['Name'].head(10)

283        Daphne Dragon (Pull-out Books) (Mini-monsters)
421                  Titan God Machine (Titan 1, 2 and 3)
575                                            Republic 1
693     Brodie's Notes On Alan Sillitoe's Selected Fic...
905       Adventures in Odyssey: At Home and Abroad (#13)
908                                         Odyssey I–XII
1007        Holy Image, Hallowed Ground: Icons from Sinai
1070    Idea De La Muerte En Mexico/ Idea of the Death...
1082    History of Civilization: The Northern European...
1271                                  Animal Farm (Plays)
Name: Name, dtype: object

- Therefore, we have decided to encode NaN Publisher values as "Unknown"

In [102]:
df['Publisher'] = df['Publisher'].fillna("Unknown")

## Language:

- After checking multiple samples of rows with NaN values for "Language", we have realised most titles (Name) are in English.

In [103]:
# Check titles of samples that have NaN language values to see if there's a frequent language. It's English.

# TODO implement a heuristic tool with the most popular English stopwords

df[df['Language'].isna()].sample(20)['Name']

34094    The Sound and the Fury in the Garden of Eden: ...
40248         Reinventing Paulo Freire: A Pedagogy Of Love
13059        Count Me a Rhyme: Animal Poems by the Numbers
12938    Violence and Nonviolence in South Africa: Jesu...
18473                                 Father and Son Night
54206                 365 Things Every New Mom Should Know
36686                           Bhartrhari, the Grammarian
51384                 The Century of Revolution, 1603-1714
26183                                         In Our State
2359         Santa Fe Super Chief and El Capitan 1936-1971
35201                Race Rules: Navigating the Color Line
36767    Dear Carnap, Dear Van: The Quine-Carnap Corres...
30920                                          Ghost Dance
13741      Kilimanjaro: The Great White Mountain Of Africa
7923                                      The Summer Sands
5133                         Anatomy of Movement Exercises
3044              Lost Realms of Gold: South American Myth
1962        The Sport of Queens (The Dick Francis Library)
36564                         Symphony No. 7 In Full Score
1312                                       A Necessary End
Name: Name, dtype: object

- The majority of the titles of the dataset are also in English.

In [104]:
# Check the most common language, it's English

df.groupby('Language')['Language'].count().sort_values(ascending=False).head(10)

Language
eng      10938
en-US     1663
fre        444
en-GB      435
spa        293
ger        222
ita         43
zho         25
rus         12
por         11
Name: Language, dtype: int64

- We have decided to encode NaN "Language" values as "eng"

In [105]:
df['Language'] = df['Language'].fillna('eng')

- After checking unique values for "Language", we have decided to encode all variations of English as "eng"

In [106]:
df['Language'].unique()

array(['eng', 'en-GB', 'en-US', 'spa', 'ger', 'por', 'fre', 'grc', 'mul',
       'zho', 'rus', 'ita', 'glg', 'en-CA', 'frs', 'ind', 'enm', 'lat',
       'kor', 'pol', 'per', 'wel', 'nl', 'ara', 'tur', 'nav', 'nor',
       'jpn', 'swe', 'myn', 'gre', 'urd', 'elx', 'afr', 'cat'],
      dtype=object)

In [108]:
language_mask = df['Language'].str.startswith('en-')
df.loc[language_mask, 'Language'] = 'eng'

- To simplify the scope of this project, we will drop all entries that are not in English

In [109]:
df = df.drop(df[df.Language != 'eng'].index)

## ISBN

- This column is not relevant for the analysis, so we have decided to drop it.

In [110]:
df.drop(columns='ISBN')

,pagesNumber,Authors,Publisher,Rating,Language,RatingDistTotal,RatingDist5,RatingDist3,CountsOfReview,PublishDay,RatingDist4,PublishMonth,Id,PublishYear,RatingDist1,RatingDist2,Name
0,400,Royce Flippin,PublicAffairs,4.18,eng,total:11,5:3,3:1,1,9,4:7,20,100000,2004,1:0,2:0,The Best American Political Writing 2004: Spec...
1,30,Gail Sakurai,Turtleback Books,4.00,eng,total:6,5:2,3:2,0,9,4:2,1,100004,1996,1:0,2:0,Stephen Hawking: Understanding the Universe
2,16,Sandi Hill,Creative Teaching Press,3.60,eng,total:5,5:0,3:2,2,3,4:3,1,100007,1998,1:0,2:0,Detective Dog and the Search for Cat
3,280,Bob Butz,Lyons Press,3.21,eng,total:29,5:3,3:12,6,1,4:8,1,100010,2005,1:2,2:4,"Beast of Never, Cat of God: The Search for the..."
4,193,Raymond B. Marcin,Catholic University of America Press,3.43,eng,total:7,5:0,3:2,0,2,4:4,3,100011,2006,1:0,2:1,In Search of Schopenhauer's Cat: Arthur Schope...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57041,400,Amanda Scott,Forever,4.00,eng,total:201,5:70,3:33,3,9,4:81,1,199992,2003,1:2,2:15,"Reiver's Bride (Secret Clan, #4)"
57042,416,George MacDonald Fraser,HarperCollins Publishers,3.98,eng,total:600,5:209,3:130,51,3,4:218,1,199993,1998,1:6,2:37,The Steel Bonnets: The Story of the Anglo-Scot...
57043,0,Catherine Creel,Ivy Books,3.42,eng,total:19,5:4,3:9,2,7,4:3,30,199994,1997,1:0,2:3,Reiver's Woman
57044,416,William Faulkner,Routledge,3.79,eng,total:6396,5:1693,3:1649,0,11,4:2441,1,199998,1986,1:174,2:439,The Reivers: Typescript Setting Copy
57045,128,Patricia Marx,Workman Publishing,3.42,eng,total:12,5:2,3:5,4,5,4:3,1,199999,1983,1:0,2:2,How to Regain Your Virginity ...and Ninety Nin...

# 3) Check dates and replace by datetime format

## Months & Days
- This data is irrelevant for our analysis, so we will drop both columns.

In [111]:
df.drop(columns=['PublishMonth', 'PublishDay'])

,pagesNumber,Authors,Publisher,Rating,Language,RatingDistTotal,RatingDist5,RatingDist3,CountsOfReview,ISBN,RatingDist4,Id,PublishYear,RatingDist1,RatingDist2,Name
0,400,Royce Flippin,PublicAffairs,4.18,eng,total:11,5:3,3:1,1,1560256133,4:7,100000,2004,1:0,2:0,The Best American Political Writing 2004: Spec...
1,30,Gail Sakurai,Turtleback Books,4.00,eng,total:6,5:2,3:2,0,061390737X,4:2,100004,1996,1:0,2:0,Stephen Hawking: Understanding the Universe
2,16,Sandi Hill,Creative Teaching Press,3.60,eng,total:5,5:0,3:2,2,1574713388,4:3,100007,1998,1:0,2:0,Detective Dog and the Search for Cat
3,280,Bob Butz,Lyons Press,3.21,eng,total:29,5:3,3:12,6,1592284469,4:8,100010,2005,1:2,2:4,"Beast of Never, Cat of God: The Search for the..."
4,193,Raymond B. Marcin,Catholic University of America Press,3.43,eng,total:7,5:0,3:2,0,0813214300,4:4,100011,2006,1:0,2:1,In Search of Schopenhauer's Cat: Arthur Schope...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57041,400,Amanda Scott,Forever,4.00,eng,total:201,5:70,3:33,3,0446612677,4:81,199992,2003,1:2,2:15,"Reiver's Bride (Secret Clan, #4)"
57042,416,George MacDonald Fraser,HarperCollins Publishers,3.98,eng,total:600,5:209,3:130,51,0002727463,4:218,199993,1998,1:6,2:37,The Steel Bonnets: The Story of the Anglo-Scot...
57043,0,Catherine Creel,Ivy Books,3.42,eng,total:19,5:4,3:9,2,0449182827,4:3,199994,1997,1:0,2:3,Reiver's Woman
57044,416,William Faulkner,Routledge,3.79,eng,total:6396,5:1693,3:1649,0,0824068351,4:2441,199998,1986,1:174,2:439,The Reivers: Typescript Setting Copy
57045,128,Patricia Marx,Workman Publishing,3.42,eng,total:12,5:2,3:5,4,0894803654,4:3,199999,1983,1:0,2:2,How to Regain Your Virginity ...and Ninety Nin...

## Year
- Check if maximum value is before the current year.

In [46]:
from datetime import date
df['PublishYear'].max() <= date.today().year

True

- Convert year to datetime format

In [26]:
# TODO figure out a less bug-prone way of fixing this

df['PublishYear'] = pd.to_datetime(df['PublishYear'], format='%Y', errors = 'coerce')

# 4) Exploratory questions

- Who is the most popular author?

- Which publisher has most books published?

# Sanitization steps

- check and/or remove null values
- check for datatypes

# Things we would like to know from this dataset

- Who is the most popular author (result)
- Which publisher publishes the most (result)
- how many different publishers there are? (number)
- does publisher explain score and/or amount of reviews? (barchart  publisher vs median/mean score)
- Is language always nan? (barchart count of language)
- Can language explain amount of reviews? (barchart)
- which is the longest book? (1 sample)
- length of book explains amount of reviews? (scatterplot)
- What's the relationship between amount of reviews and score? (scatterplot)
- Is there any relationship between days since publication and amount of reviews?


# NLP related analysis
- Most common words in titles (tokenization + countvectorizer)
- Which are the rarest words (tokenization + countevectorizer)