In [1]:
import sys
sys.path.append('../src/')

%load_ext autoreload
%autoreload 2

from utils import load_dataset, clean_dataset
import pandas as pd
from datetime import date

In [2]:
df = load_dataset()

100%|██████████| 23/23 [00:10<00:00,  2.29it/s]

In [3]:
df_clean = clean_dataset(df)

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1143017 entries, 0 to 34758
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Name          1143017 non-null  object
 1   Authors       1143017 non-null  object
 2   Rating        1143017 non-null  float64
 3   PublishYear   1143017 non-null  int64
 4   Publisher     1143017 non-null  object
 5   PagesNumber   1143017 non-null  int64
 6   Description   1143017 non-null  object
 7   TotalReviews  1143017 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 78.5+ MB

In [5]:
df_clean.head(3)

,Name,Authors,Rating,PublishYear,Publisher,PagesNumber,Description,TotalReviews
0,Barbarossa,Christopher Ailsby,3.0,2007,New Line Books,192,"On 22 June 1941, Adolf Hitler launched Operati...",1
2,Images of Barbarossa,Christopher Ailsby,3.5,2001,Ian Allan Ltd,256,"On 22 June 1941, Adolf Hitler launched Operati...",8
3,Romania After 2000: Five New Romanian Plays,Daniel Charles Gerould,4.0,2007,Martin E. Segal Theatre Center Publications,226,The first anthology of new Romanian Drama publ...,6

In [6]:
df_clean.index.size

1143017

In [7]:
df_clean.to_csv('../data/clean_dataset.csv')