In [1]:
import sys
sys.path.append('../src/')

%load_ext autoreload

%autoreload 2

from utils import load_dataset, clean_dataset

In [2]:
df = load_dataset()

100%|██████████| 23/23 [00:09<00:00,  2.34it/s]

In [3]:
df_clean = clean_dataset(df)

Lowering case of text fields
Extracting TotalReviews
Dropping Null values
Filling Null values
Dropping unused columns
Deduplicating

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1025197 entries, 0 to 1025197
Data columns (total 8 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   Name          1025197 non-null  object
 1   Authors       1025197 non-null  object
 2   PublishYear   1025197 non-null  int64
 3   Publisher     1025197 non-null  object
 4   Rating        1025197 non-null  float64
 5   PagesNumber   1025197 non-null  float64
 6   TotalReviews  1025197 non-null  int64
 7   Description   1025197 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 70.4+ MB

In [5]:
df_clean.head(3)

,Name,Authors,PublishYear,Publisher,Rating,PagesNumber,TotalReviews,Description
0,!%@:: a directory of electronic mail addressin...,!%@:: a directory of electronic mail addressin...,1993,[o'reilly media],0.0,458.0,0,"these days, it's a rare person who hasn't hear..."
1,!arrebátalo!: la fe que se mantiene firme ante...,!arrebátalo!: la fe que se mantiene firme ante...,2006,[casa creación],4.0,254.0,2,<i>¡aprende a caminar en el poder de la fe vio...
2,"!buen viaje!, course 1, student edition","!buen viaje!, course 1, student edition",1999,[Unknown],2.8,514.0,5,this three-level program brings you every reso...

In [6]:
df_clean.index.size

1025197

In [7]:
df_clean.to_csv('../data/clean_dataset.csv')